<!DOCTYPE html>
<html>
<head>
    <title>Idiomas</title>
    <link rel="stylesheet" type="text/css" href="~/css/idiomasCS.css" />

</head>
<body>
    <div class="container">
        <div class="cabecera">
            <h1>IDIOMAS</h1>
            <img class="imagen" src="https://upload.wikimedia.org/wikipedia/commons/b/bf/GIF_Mundo_Banderas.gif" />
        </div>
        <div class="lista">
            <div class="tarjeta">
                <h4>Español - Spanish</h4>
                <p>(Nativo)</p>
            </div>
            <div class="tarjeta">
                <h4>Inglés - English</h4>
                <p>(C2)</p>
            </div>
        </div>
        <div class="posiBTN">
            <a href="/" class="bn3637 bn38">Regresar</a>
        </div>
    </div>
</body>
</html>
