<!DOCTYPE html>
<html>
    <head>
        <title>
            CERTIFICADOS
        </title>
        <link rel="stylesheet" type="text/css" href="~/css/certificados.css" />
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="index.css">
        <script src="https://kit.fontawesome.com/887a835504.js" crossorigin="anonymous"></script>

   
      
    </head>
    <body>

    <div class="cabecera">
        <h1>
            CERTIFICADOS
        </h1>
    </div>

    <div class="carrousel">
        <div class="conteCarrousel">
            <div class="itemCarrousel" id="itemCarrousel-1">
                <div class="itemCarrouselTarjeta">
                    <div class="data">
                        <h1>
                            PYTHON DATA STRUCTURES
                        </h1>
                        <p>
                            Estructuras y programacion basica de Python.
                        </p>
                        <img src="~/img/python.png" />
                    </div>
                </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-3">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-2">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="itemCarrousel" id="itemCarrousel-2">
                <div class="itemCarrouselTarjeta">
                    <div class="data">
                        <h1>
                            BUSINESS ANALYSIS: DEVELOPING REQUIREMENTS
                        </h1>
                        <p>
                            Obtencion, analisis y dragramacion de requerimientos para desarrollo de software.
                        </p>
                       <img src="~/img/requeri.png" />
                    </div>
                </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-1">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-3">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>


            <div class="itemCarrousel" id="itemCarrousel-3">
                <div class="itemCarrouselTarjeta">
                    <div class="data">
                        <h1>
                            .NET MAUI
                        </h1>
                        <p>
                            Desarrollo aplicaciones Moviles (iOS, Android) en .Net, uso de SQLlite, Interfaces de usuario, Backend.
                        </p>
                        <img src="~/img/mauiNET.png" />
                    </div>
                </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-2">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-1">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>


        </div>
        <div class="conteCarrouselController">
            <a href="#itemCarrousel-1">•</a>
            <a href="#itemCarrousel-2">•</a>
            <a href="#itemCarrousel-3">•</a>
        </div>
    </div>
    <div class="posiBTN">
        <a href="/" class="bn3637 bn38">Regresar</a>
    </div>
    </body>
</html>