.cabecera

{
    color: darkred;
    margin-top: 60px;
    text-align: center;
    font-family: Circulito;
    font-size: xx-large;
}

@font-face {
    font-family: 'Circulito'; /* Nombre de la fuente personalizada */
    src: url('../fonts/circular-std-medium-500.ttf') format('truetype');
}

h4, p {
    font-size: x-large;
    filter: none; /* Anula el desenfoque para estos elementos */
    font-family: Circulito;
}

.imagen {
    height: 150px;
    width: 150px;
}

.lista {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    color: white;
    background-color: darkred;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bn3637 {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: ##446474;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.bn38 {
    text-decoration: none;
    border-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

    .bn38:hover {
        text-decoration: none;
        background-color: darkgray;
    }

.posiBTN {
    margin-left: 20px;
    font-family: Circulito;
}
