.body {
    background-color: #F5F5DC;
    font-family: Circulito;
}
.cabecera {
    color: #0D1D25;
    margin-top: 25px;
    text-align: center;
    font-family: 'Circulito', sans-serif;
    font-size: xx-large;
}
@font-face {
    font-family: 'Circulito'; /* Nombre de la fuente personalizada */
    src: url('../fonts/circular-std-medium-500.ttf') format('truetype');
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 25px auto;
}

.tarjeta {
    text-align: center;
    background-color: white;
    color: black; /* Cambiamos el color del texto a blanco para que se destaque */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #0D1D25;
  
    font-family: Circulito;
}

    .tarjeta img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
.bn3637 {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: ##446474;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.bn38 {
    text-decoration: none;
    border-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

    .bn38:hover {
        text-decoration: none;
        background-color: darkgray;
    }

.posiBTN {
    margin-left: 20px;
    font-family: Circulito;
}