<!DOCTYPE html>
<html>
<head>
    <title>Soft-Skills</title>
    <link rel="stylesheet" type="text/css" href="/css/skills.css">
</head>

<body>
    <div class="cabecera">
        <h1>MY SOFT - SKILLS</h1>
    </div>
    <div class="grid">
        <div class="obj1 tarjeta">
            <img src="/img/equipo.png" />
            <h4>TRABAJO EN EQUIPO</h4>
        </div>
        <div class="obj2 tarjeta">
            <img src="/img/lider.png" />
            <h4>LIDERAZGO</h4>
        </div>
        <div class="obj3 tarjeta">
            <img src="/img/repido.png" />
            <h4>APRENDIZAJE RÁPIDO</h4>
        </div>
        <div class="obj4 tarjeta">
            <img src="/img/comunica.png" />
            <h4>COMUNICACIÓN EFECTIVA</h4>
        </div>
        <div class="obj5 tarjeta">
            <img src="/img/persevere.png" />
            <h4>PERSEVERANTE</h4>
        </div>
        <div class="obj6 tarjeta">
            <img src="/img/ino.png" />
            <h4>INNOVADOR</h4>
        </div>
        <div class="obj7 tarjeta">
            <img src="/img/etico.png" />
            <h4>PENSAMIENTO ÉTICO</h4>
        </div>
        <div class="obj8 tarjeta">
            <img src="/img/pensamientoEtico.png" />
            <h4>RESOLUCIÓN DE PROBLEMAS</h4>
        </div>
        <div class="obj9 tarjeta">
            <img src="/img/tiempo.png" />
            <h4>GESTIÓN DEL TIEMPO</h4>
        </div>
        <div class="obj10 tarjeta">
            <img src="/img/auto.png" />
            <h4>AUTOCONFIANZA</h4>
        </div>
    </div>
    <div class="posiBTN">
        <a href="/" class="bn3637 bn38">Regresar</a>
    </div>
</body>
</html>
