<!DOCTYPE html>
<html>
<head>
    <title>
        EDUCACION
    </title>

    <link rel="stylesheet" type="text/css" href="/css/educacion.css">

</head>
<body>

    <div class="cabecera">
        <h1>
            EDUCACION
        </h1>
    </div>

    <div class="tarjetas">
        <!--tarjetas-->

        <div class="tarjeta1">
           
            <h3>
                COLEGIO MILITAR ELOY ALFARO
            </h3>
            <div class="centrado">
                <img src="/img/comil.png" />
                <p> 2005 - 2021 </p>
                <h4> <b> Bachiller en Ciencias Generales</b></h4>
         
            </div>
            
        </div>

        <div class="tarjeta2">
            
            <h3>
                UNIVERSIDAD DE LAS AMERICAS
            </h3>
            <img src="/img/udla.png" />
            <p> 2021 - Actualidad <br /> (6to semestre)</p>
                <h4><b>Ingenieria en Software</b></h4>
        </div>
    </div>
    <div class="posiBTN">
        <a href="/" class="bn3637 bn38">Regresar</a>
    </div>
    
</body>

</html>