
<!DOCTYPE html>
<html>
    <head>
        <title>Hayland Montalvo</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    </head>
    <body>
        <nav class="menu">
            <ul>
            <li></li> <!--Imagen-->
            <li> <label>CONTACTO:</label>   </li> <!--CONTACTO-->
            <li> <a>instagram</a> </li> <!--ig-->
            <li> <a>correo</a> </li> <!--correo-->
            <li> <a>celular</a>    </li> <!--celular-->
            <li>   <a>git</a>  </li> <!--github-->
            </ul>

        </nav>

        <div class="contenido">
            <h1>HEY! SOY HAYLAND MONTALVO</h1>
            <h3>
                Software Developer
            </h3>
            <label >
                Soy un estudiante de Ing de Software, actualmente estoy cursando mi 6to semestre <br />
                en la Universidad de las Americas. Este es mi portafolio web donde podras conocer mas sobre mi <br />
                y obtendras enlaces de interes sobre mi historial academico y laboral.
            </label>
         
            <ul>
                <li>
                <a href="/" class="bn5">Educación</a>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        
        </div>
    </body>
</html>



