
<!DOCTYPE html>
<html>
    <head>
        <title>Hayland Montalvo</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    </head>
    <body>
        <nav class="menu">
         
            <img src="/img/perfil.jpeg" class="imagenPerfil" />
             

            <div class="filaimg">

                <ul class="filaimg">
                <li>
                    <label>CONTACTO:</label>
                </li>
                <li>
                    <img src="/img/insta.png" />
                    <a>Instagram</a>
                </li> 
                <li> 
                    <img src="/img/email.png" />
                    <a>Email</a> 
                </li>
                <li> 
                    <img src="/img/wpp.png" />
                    <a>Celular</a>   
                </li> 
                <li>  
                    <img src="/img/github.png" />
                    <a>GitHub</a>
                </li> 
            </ul>
            </div>

           

        </nav>

        <div class="contenido">
            <div class="cabeza">
            <h1>HEY! SOY HAYLAND MONTALVO</h1>
            <img src="/img/develop.png" class= "gray"/>
            </div>
           
            <h3>
                Software Developer
            </h3>
            <label >
                Soy un estudiante de Ing de Software, actualmente estoy cursando mi 6to semestre <br />
                en la Universidad de las Americas. Este es mi portafolio web donde podras conocer mas sobre mi <br />
                y obtendras enlaces de interes sobre mi historial academico y laboral.
            </label>
         
            <ul>
                <li>
                <a href="/" class="bn5">Educación</a>
                </li>
                <li>
                <a href="/" class="bn5">Certificados</a>
                </li>
                <li>
                <a href="/" class="bn5">Proyectos</a>
                </li>
                <li>
                <a href="/" class="bn5">Descargar CV</a>
                </li>
            </ul>
            <ul>
            <li>
                <a href="/" class="bn5">Exp Laboral</a>
            </li>
            </ul>
        
        </div>
    </body>
</html>



